[package]
name = "api"
version.workspace = true
edition.workspace = true

[dependencies]
trace = { path = "../trace" }
storage = { path = "../storage" }
axum.workspace = true
serde.workspace = true
tokio.workspace = true
tracing.workspace = true
