[package]
name = "daemon"
version.workspace = true
edition.workspace = true

[dependencies]
trace = { path = "../trace" }
storage = { path = "../storage" }
api = { path = "../api" }
proxy = { path = "../proxy" }
# memfs = { path = "../memfs" }  # requires macFUSE
clap.workspace = true
dirs.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
